.header{
  /* To make logo and nav-items come horizontally */
  display: flex;
  /* Space between the siblings(logo and nav-items) */
  justify-content: space-between;

  border: 1px solid black;
  padding: 0 100px;
}



/* Logo-image */
.logo{
  width: 150px;
  height: 150px;
}



/* ul inside nav-items div  */
.nav-items > ul {
  /* To make the nav-items list come horizontally */
  display: flex;

  font-size: 24px;

  /* To remove the bullets in lists */
  list-style-type: none;
}



.nav-items > ul > li{
  padding: 10px;
  margin: 10px;
}

.item:hover{
  color: #E44C77;
  cursor: pointer;
}

/* search bar */
.search{
  padding: 10px;
}


/* container containing all the restaurant cards */
.res-container{

  /* To make all the cards come horizontally */
  display: flex;
  
  /* To wrap the items down as we shrink the page and vice versa */
  flex-wrap: wrap;
}

/* restaurant card */
.res-card {
  width: 500px;
  text-align: center;
  padding: 5px;
  margin: 22px;
  font-size: 1rem;
}

/* dont give space between class name and :hover, else it will give error */
.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo{
  width: 300px;
  height : 200px;
  overflow : hidden
}



.filter-btn{
  margin: 30px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}


.filter-shimmer{
  display: flex;
  flex-wrap: wrap;
}

.search-shimmer-box{
  width: 180px;
  padding: 20px;
  margin : 30px 10px 30px 20px;
  background-color: #D9D9D9;
}

.search-shimmer-btn{
  width: 50px;
  padding: 10px;
  margin: 30px 40px 30px 0px;
  background-color: #D9D9D9;
}


.filter-shimmer-btn{
  width: 150px;
  padding: 20px;
  background-color: #D9D9D9;
  margin : 30px 40px 30px 0px;
}


.shimmer-card-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  width: 300px;
  height: 400px;
  background-color: #D9D9D9;
  margin: 10px;
}

.login{
  padding: 0 20px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 20px;
}


.filter{
  display: flex;
}

.search-box{
  padding: 10px;
  margin: 10px 10px 10px 10px;
  font-size: 1rem;
}

.search-btn{
  margin: 20px 0 0 0;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}